body,
html {
	height: 100%;
}

.home-header {
	height: 100%;
	color: $textcolor;
}


.top-line {
	position: absolute;
	top: 0;
	height: 160px;
	width: 100vw;
	padding-left: 160px;
	background-color: transparent;
	z-index: 9;
	display: flex;
	align-items: center;

}

//ASIDE

.home-header__content {
	height: 100%;
}

.home-aside {
	background-color: $leftpanel;
	height: 100%;
	// width: $size;
	width: 4%;
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 10;
}

.home-aside__soc {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 55vh;
}

.soc-linc {
	font-family: felidae-my, sans-serif;
	font-size: 20px;
	color: #42869C;
	text-decoration: none;
	writing-mode: vertical-rl;
	transform: scale(-1);
	transition: all .25s ease-out;
	letter-spacing: 0.1em;
}

.soc-linc:hover {
	color: #000;
	transition: all .25s ease-out;

}

.right-aside {

	background: transparent;
	height: 100%;
	width: 10%;
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	z-index: 10;
	padding-top: 100px;
	padding-bottom: 40px;
}

.slider-pagination-count {
	font-family: anekBangla-my, sans-serif;
	font-weight: 400;
	font-size: 24px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #C4D1E4;
	height: 80px;
	.current {
		font-weight: 500;
		font-size: 50px;
		color: $accent;
		display: inline-block;

	}

}