.slide__img {
	height: 100%;
	display: inline-block;
}

.slide__content {
	width: 625px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 80px;
}

.slide__subheader {
	font-family: akshar-my, serif;
	font-weight: 700;
	font-size: 50px;
	line-height: 55px;
	margin-bottom: 20px;
}

.slide__text {
	font-family: JejuMyeongjo-my, serif;
	font-weight: 400;
	font-size: 30px;
	margin-bottom: 58px;
}

.slide__links {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.button__programs {
	position: relative;
	height: 70px;
	width: 250px;
	border: none;
	background: linear-gradient(180deg, #52B9A6 0%, #4CC4AE 100%);
	box-shadow: 0px 10px 40px #B4E9D3;
	border-radius: 50px;
	font-family: akshar-my, serif;
	font-weight: 700;
	font-size: 20px;
	color: #FFFFFF;
}

.button__programs::before {
	content: 'Мои программы';
	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	background: linear-gradient(180deg, #299380 0%, #3DC5AC 100%);
	box-shadow: 0px 10px 40px #B4E9D3;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	transition: opacity .5s;
}

.button__programs:hover:before {
	opacity: 1;
}

.link__aboutme {
	text-decoration: none;
	color: $accent;
	font-family: akshar-my, serif;
	font-weight: 400;
	font-size: 18px;
	transition: all .25s ease-out;

	img {
		margin-left: 12px;
	}

	&:hover {
		color: #2A9481;
		transition: all .25s ease-out;
	}
}

.slide__text {
	font-family: JejuMyeongjo-my, sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 2;

	span {
		font-family: akshar-my, sans-serif;
		font-weight: 600;
		font-size: 20px;
		line-height: 1.6;

	}
}

.list-items {
	list-style: none;
	position: relative;
	padding-left: 0;

	li {
		display: flex;
		align-items: center;
	}

	li::before {
		content: '';
		margin-right: 20px;		
		width: 27px;
		height: 27px;
		background-image: url('../../../images/dist/marker.png');
	}
}

.slide-2__text {
	margin-bottom: 0;
}



.img-menu {
	height: 100%;
	width: 83%;
	padding-left: 178px;
	padding-top: 235px;		
	flex-direction: column;
	opacity: 0;	
	display: none;	
	animation: fadeNoneFromIn .1s ease-in-out;
}

.img-menu__next {
	flex-direction: column;
	width: 100%;
	height: 100%;
	position: absolute;
	padding-top: 235px;
	left: -190px;
	display: none;
	opacity: 0;
}

.img-programs {		
	flex-direction: column;
	height: 100%;
	width: 80%;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 235px;
	padding-left: 610px;
	opacity: 0;	
	display: none;
	animation: fadeNoneFromIn .1s ease-in-out;

}

.choice-active {
	display: flex;	
	opacity: 1;
	animation: fadeInFromNone 1s ease-in-out;
}

.top-line__cards,
.bottom-line__cards {
	width: 90%;
	display: flex;
	margin-bottom: 40px;
	overflow: hidden;
	flex-shrink: 0;
}

.slide-img {
	height: 100%;
	width: 65%;
	position: relative;

}

