.slide__img {
	height: 100%;
	display: inline-block;
	img{
		height: 100%;
	}
}

.slide__content {
	width: 36%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 80px;
}

.slide-5__content {
	width: 40%;
}



.slide__subheader {
	font-family: akshar-my, sans-serif;
	font-weight: 700;
	font-size: 50px;
	line-height: 55px;
	margin-bottom: 20px;
}

.slide__text {
	font-family: JejuMyeongjo-my, sans-serif;
	font-weight: 400;
	font-size: 30px;
	margin-bottom: 58px;
}

.slide__links {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.slide__text {
	font-family: JejuMyeongjo-my, sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 2;

	span {
		font-family: akshar-my, sans-serif;
		font-weight: 600;
		font-size: 20px;
		line-height: 1.6;

	}
}

.list-items {
	list-style: none;
	position: relative;
	padding-left: 0;

	li {
		display: flex;
		align-items: center;
	}

	li::before {
		content: '';
		margin-right: 20px;		
		width: 27px;
		height: 27px;
		background-image: url('../../../images/dist/marker.png');
	}
}

.slide-2__text {
	margin-bottom: 0;
}



.img-menu {
	height: 100%;
	width: 100%;
	padding-left: 178px;
	padding-top: 235px;		
	flex-direction: column;
	opacity: 0;	
	display: none;	
	animation: fadeNoneFromIn .1s ease-in-out;
}

.img-menu__next {
	flex-direction: column;
	width: 100%;
	height: 100%;
	position: absolute;
	padding-top: 235px;
	left: -160px;
	display: none;
	opacity: 0;
}

.img-programs {		
	flex-direction: column;
	height: 100%;
	width: 100%;
	background-position: left;
	background-repeat: no-repeat;
	padding-top: 235px;
	padding-left: 610px;
	opacity: 0;	
	display: none;
	animation: fadeNoneFromIn .1s ease-in-out;

}

.img-programs__next {
	flex-direction: column;
	width: 100%;
	height: 100%;
	position: absolute;
	padding-top: 235px;
	left: -225px;
	display: none;
	opacity: 0;
}

.choice-active {
	display: flex;	
	opacity: 1;
	animation: fadeInFromNone 1s ease-in-out;
}

.top-line__cards,
.bottom-line__cards {
	width: 100%;
	display: flex;
	margin-bottom: 40px;
	// overflow: hidden;
	// flex-shrink: 0;
}

.slide-img {
	height: 100%;
	width: 65%;
	position: relative;

}

.slide__content-left {
	width: 35%;
	padding-right: 160px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card-img {
	width: 85%;
}

